:root{
    --text-color: #000;
    --white-color: #fff
}
*{
    box-sizing: inherit;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}
hr{
    width: 75%;
    margin-bottom: 32px;
}
.white{
    color: var(--white-color);
}