@media (max-width: 735px){
    
    .header{
       display: block;
       position: relative;
       width: 100%;
    }
    .header_navbar--item{
        padding: 0 10px;
    }
    .header_option{
        position: absolute;
        right: 0;
        margin-top: 12px;
    }
    .header-tag-3{
        width: 100%;
    }
    .slider{
        margin-top: 24px;
    }
    .slider-img-item{
        height: 270px;
    }
    .first-team{
        margin: 0;
        width: 100%;
    }
    .position-content{
        border-radius: 15px;
    }
    .position-img{
        width: 100px;
        height: 150px;
    }
    .position-info{
        width: 95px;
        height: 30px;
        font-size: 1.2rem;
    }
    .manager{
        margin: 64px 0;
    }
    .manager-background{
        width: 100%;
        padding-bottom: 4px;
    }
    .manager-body{
        display: block;
        
    }
    .manager-text{
        text-align: center;
        margin-left: 86px;
    }
    .manager-img-item{
    }
    .history{
        width: 100%;
        height: 250px;
        overflow: hidden;
    }
    .history-icon{
        top: 35%;
    }
    .history-icon-item{
        font-size: 3rem;
    }
    .history-item{
        width: 150px;
        height: 240px;
        
    }
    .history-img{
        height: 120px;
    }
    .history-img-item{
        height: 120px;
        width: 150px;
        
    }
    .history-content{
        padding: 10px 22px 29px;
    }
    .history-content-title,
    .history-content-text{
        font-size: 1rem;
    }
    .history-honours{
        display: block;
    }
    .honour-item{
        margin-bottom: 24px;
    }
}